// Navigation Styles here

.nav{
    display:flex;
    width:66%;
    justify-content:space-between;
    
    &__list{
        align-self:center;
        height:auto;
        .flexing(row, flex-end, center);
        width:40%;
    }

    &__items{
        margin-left:3rem;
    }
}